POSTGRES_DB=fei2026tp
POSTGRES_USER=fei2026tp
POSTGRES_PASSWORD=fei2026tp

DJANGO_SUPERUSER_USERNAME=cristianruppel
DJANGO_SUPERUSER_EMAIL=cristianruppel@example.com
DJANGO_SUPERUSER_PASSWORD=admin123
